.name-box {
    width: 1920px;
    height: 110px;
    background-color:rgba(145, 171, 110, 1);
    padding: 10px;
    margin: 10px;
  }

#icon{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

.name{
    text-align: center;
    color:white;
    margin-top:-55px;
}


#hero-img{
    filter: brightness(50%);
    filter: contrast(120%);
}